html {
    overflow-x: hidden;
}



/*Navigation*/

.bg-custom-green {
    background-color: #4a503b61;
}

.navbar-menu {
    font-size: .8em;
    color: #840b5e;
    list-style-type: none;
    margin-left: auto;
    letter-spacing: 2px;
}

.branding {
    color:white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 33%;
}

.branding:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

.navbar-dark .navbar-nav .nav-link {
    color: #840b5e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

/* gallery header */

.galleryheader {
    color: #82ce2efa;
}

.testimonials-header {
    color: #03352a;
}

.testimonials1 {
        background-color: #6495ed36;
}

.testimonials2 {
        background-color: #dc79c226;
}

.testimonials3 {
        background-color: #585a5f26;
}

.testimonials4 {
        background-color: #edc36454;
}




/* Footer */

.myfooter {
    background-color: transparent;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerheader {
    color: #840b5e;
    font-weight: 400;
    font-size: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

#social-media li {
    display: inline;
    margin-bottom: 15px;
}

#social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #840b5e;
}

#social-media a:hover {
    color:hsl(81, 100%, 67%);
}

#social-media i:hover {
    margin: 1%;
    padding: 5%;
    color:hsl(81, 100%, 67%);
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--pnk {
    color: white;
    background-color: #840b5e;
    border-color: #840b5e;
    /*padding-top: 1.5%;
    padding-bottom: 1.5%;*/
    margin-top: 5px;
    font-size: x-large;
    border-radius: 60px;
    border-width: medium;
}

.btn--green {
    background-color:#242c10;
    color: white;
}

.btn--pnk:hover,
.btn--pnk:active,
.btn--pnk:focus
.btn--pnk:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(81, 100%, 67%);
}

.btn--footer {
    color:white;
    background-color: #840b5e;
    border-color: #840b5e;
    font-style: bold;
}

.btn--footer:hover,
.btn--footer:active,
.btn--footer:focus
.btn--footer:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(90, 100%, 0%);
}

.newsletter {
    background-color:white;
    color:black;
}


/* /* /* /* /* /* /* /* MEDIA QUERIES /* /* /* /* /* /* /* /* 

/* settings for mobile and tablet size*/

@media screen and (max-width: 768px) { 
  .navbar-menu,
  .navbar-dark,
  .navbar-nav,
  .nav-link {
    font-size: .7em;
    letter-spacing: 0px;
  }


  .form-wrapper {
    font-size: 99%;
  }

  #navbarNav { 
    font-size: 20%;
  }

  .left-footer,
  .footerheader,
  .input-group {
    font-size: 95%;
  }


  #social-media i {
    font-size: 90%;
  }

  .btn--footer {
    font-size: 14px;
    border-radius: 0px;
    padding: 2px;
  }


}

/* settings for tablet size and pc/laptops */

@media (min-width: 568px) {
    
}

/* settings to fix footer issue for mobile size  */

@media (max-width: 728px) {
    
}

