html {
    min-height: 100%;
}

body {
    height: 100%;
    
}

#services-header {
    color: #242c10;
}

/*Navigation*/

.bg-custom-green {
    /*background-color:#242c10;*/
    /*background-color: #8e8e8e9c;*/
    /*background-color: #b9626252;*/
    background-color: #4a503b61;
}

.navbar-menu {
    font-size: 100%;
    /*color: white;*/
    color: #840b5e;
    list-style-type: none;
    margin-left: auto;
    letter-spacing: 2px;
}

.branding {
    color:white;
    font-size: 150;
    font-weight: 600;
    text-decoration: none;
    font-size: xx-large;
    letter-spacing: 2px;
    margin-right: 33%;
}

.branding:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: white;*/
    color: #840b5e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

/* Services header */

.row {
    margin-right: 0;
    margin-left: 0;
}

.service-list-container {
    /*background-color: rgb(243 190 217 / 25%);*/
    color: #840b5e;
    height: 100%;
}

.services-header {
    background-color: white;
    color: black;
    margin-top: 80px;
    /*height: 210px;*/
    text-align: center;
}


.mark {
    background-color: white;
}


/* Footer */

.myfooter {
    /*background-color:#242c10;*/
    /*background-color: #8e8e8e9c;*/
    background-color: transparent;
    /*height: 110px;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerheader {
    /*color: white;*/
    color: #840b5e;
    font-weight: 400;
    font-size: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

#social-media li {
    display: inline;
    margin-bottom: 15px;
}

#social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    /*color:#f8f9fa;*/
    color: #840b5e;
}

#social-media a:hover {
    /*font-size: 100%;*/
    color:hsl(81, 100%, 67%);
}

#social-media i:hover {
    /*font-size: 180%;*/
    margin: 1%;
    padding: 5%;
    color:hsl(81, 100%, 67%);
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--pnk {
    color: white;
    background-color: #840b5e;
    border-color: #840b5e;
    /*padding-top: 1.5%;
    padding-bottom: 1.5%;*/
    margin-top: 5px;
    font-size: x-large;
    border-radius: 60px;
    border-width: medium;
}

.btn--green {
    background-color:#242c10;
    color: white;
}

.btn--pnk:hover,
.btn--pnk:active,
.btn--pnk:focus
.btn--pnk:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(81, 100%, 67%);
}

.btn--footer {
    color:white;
    background-color: #840b5e;
    border-color: #840b5e;
    font-style: bold;
}

.btn--footer:hover,
.btn--footer:active,
.btn--footer:focus
.btn--footer:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(90, 100%, 0%);
}

.newsletter {
    background-color:white;
    color:black;
}

