html {
}

body { 
}

#services-header {
    color: #242c10;
}

/*Navigation*/

.bg-custom-green {
    background-color: #4a503b61;
}

.navbar-menu {
    font-size: .8em;
    color: #840b5e;
    list-style-type: none;
    margin-left: auto;
    letter-spacing: 2px;
}

.branding {
    color:white;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    /*font-size: xx-large;*/
    letter-spacing: 2px;
    margin-right: 33%;
}

.branding:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

.navbar-dark .navbar-nav .nav-link {
    color: #840b5e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

/* Services header */

.row {
    margin-right: 0;
    margin-left: 0;
}

.service-list-container {
    background-color: #4a5a4714;
    color: #840b5e;
    /*min-height: 100vh;*/
    /*height: 500px;*/
}

.services-header {
    background-color: white;
    color: black;
    /*margin-top: 90px;*/
    /*height: 220px;*/
    text-align: center;
}

.services-title {
    color: #840b5e;
}

.menucontainer {
    justify-content: space-evenly;
    /*height: 650px;*/
    /*margin-top: 30px;*/
}

.menu-visits {
    /*height: 100%;*/
    text-decoration: none;
    /*margin-top: 15px;*/
}

.menu-walking {
    /*height: 100%;*/
    text-decoration: none;
    /*margin-top: 15px;*/
}

.menu-boarding {
    /*height: 100%;*/
    text-decoration: none;
    /*margin-top: 15px;*/
}

.menu-title1 {
    text-align: center;
    text-emphasis-color: white;
    color: #242c10;
    /*margin-bottom: 1rem;*/
}

.menu-title2 {
    text-align: center;
    text-emphasis-color: white;
    color: #242c10;
    /*color:#840b5e;*/
    /*margin-bottom: 1rem;*/
}

.menu-title3 {
    text-align: center;
    text-emphasis-color: white;
    color: #242c10;
    /*color: hsl(81deg 59% 39%);*/
   /* margin-bottom: 1rem;*/
}

.mark {
    background-color: white;
}

.services-text1 {
    color: hsl(244deg 59% 39%);
    font-size: 1.1em;   
}

.services-text2 {
    color: hsl(81deg 59% 39%);
    font-size: 1.1em; 
}

.services-text3 {
    color: hsl(338deg 85% 41%);
    font-size: 1.1em; 
}


.services-block1 {
    background-color: white;
    padding: 7%;
}

.services-block2 {
    background-color: white;
    padding: 7%;
    
}

.services-block3 {
    background-color: white;
    padding: 7%;
}

.prices {
    color: black;
    font-size: 80%;
}

/* Footer */

.myfooter {
    /*background-color:#242c10;*/
    /*background-color: #8e8e8e9c;*/
    background-color: transparent;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerheader {
    color: #840b5e;
    font-weight: 400;
    font-size: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

#social-media li {
    display: inline;
    margin-bottom: 15px;
}

#social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #840b5e;
}

#social-media a:hover {
    color:hsl(81, 100%, 67%);
}

#social-media i:hover {
    margin: 1%;
    padding: 5%;
    color:hsl(81, 100%, 67%);
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--pnk {
    color: white;
    background-color: #840b5e;
    border-color: #840b5e;
    /*padding-top: 1.5%;
    padding-bottom: 1.5%;*/
    margin-top: 5px;
    font-size: x-large;
    border-radius: 60px;
    border-width: medium;
}

.btn--green {
    background-color:#242c10;
    color: white;
}

.btn--pnk:hover,
.btn--pnk:active,
.btn--pnk:focus
.btn--pnk:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(81, 100%, 67%);
}

.btn--footer {
    color:white;
    background-color: #840b5e;
    border-color: #840b5e;
    font-style: bold;
}

.btn--footer:hover,
.btn--footer:active,
.btn--footer:focus
.btn--footer:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(90, 100%, 0%);
}

.newsletter {
    background-color:white;
    color:black;
}


/* /* /* /* /* /* /* /* MEDIA QUERIES /* /* /* /* /* /* /* /* 

/* settings for mobile and tablet size*/

@media screen and (max-width: 768px) { 
  .navbar-menu,
  .navbar-dark,
  .navbar-nav,
  .nav-link {
    font-size: .7em;
    letter-spacing: 0px;
  }

  /*.price-modal{
    width: 20em;
  }*/

    .menu-visits,
    .menu-walking,
    .menu-boarding{
	  margin-top: 1.3em;
  }

    .menucontainer{
	  margin-top: 2em;
  }


  .form-wrapper {
    font-size: 99%;
  }

  .btn-booking {
    font-size: 90%;
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 2.5px;
    }

  #navbarNav { 
    font-size: 20%;
  }

  .left-footer,
  .footerheader,
  .input-group {
    font-size: 95%;
  }


  #social-media i {
    font-size: 90%;
  }

  .btn--footer {
    font-size: 14px;
    border-radius: 0px;
    padding: 2px;
  }


}

/* settings for tablet size and pc/laptops */

@media (min-width: 568px) {
    
}

/* settings to fix footer issue for mobile size  */

@media (max-width: 728px) {
    
}

