
html {
    /*overflow-x: hidden;*/
}

body {
    height: 0;
}

/*Navigation*/

.bg-custom-green {
    background-color: #4a503b61;
}

.navbar-menu {
    /*font-size: 100%;*/
    color: #840b5e;
    list-style-type: none;
    margin-left: auto;
    letter-spacing: .1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #840b5e;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:hsl(81, 100%, 67%);
    text-decoration: none;
    font-style: italic;
}

/*Containers*/

.mymaincontainer {
    /*height: 100vh;*/
    background: url("../images/newmain.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
}

/* Jumbotron */

.jumbotron-background {
    /*background-color: #a02b2b00;*/
    background-color:transparent;
    margin-bottom: 16em;
    /*margin-top: .8em;*/
    color: #000000;
}

.main-text {
    font-weight: 400;
    /*text-align: center;*/
}

.aboutmodalheader {
    text-align: center;
}

/*Buttons*/

.btn--cta {
    font-weight: bold;
    /*border-radius: 23px;*/
    width: 7em;
}

.btn--pnk {
    color: white;
    background-color: #840b5e;
    border-color: #840b5e;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-top: .8em;
    font-size: 1.5em;
    border-radius: 6em;
    border-width: medium;
}

.btn--pnk:hover,
.btn--pnk:active,
.btn--pnk:focus
.btn--pnk:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(81, 100%, 67%);
}

.btn--footer {
    color:white;
    background-color: #840b5e;
    border-color: #840b5e;
    font-style: bold;
}

.btn--footer:hover,
.btn--footer:active,
.btn--footer:focus
.btn--footer:active:focus {
    color:hsl(81, 100%, 67%);
    background-color:#242c10;
    border-color:hsl(90, 100%, 0%);
}

.newsletter {
    background-color:white;
    color:black;
}
 
/* Footer */

.myfooter {
    /*background-color:#242c10;*/
    background-color: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.footerheader {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    */text-align: center;*/
    /*margin-top: 10px;
    margin-bottom: 1.5rem;*/
}

#social-media li {
    display: inline;
    float: bottom;
}

#social-media i {
    font-size: 1.7em;
    margin: .4em;
    padding: .4em;
    color:#f8f9fa;
}

#social-media a:hover {
    /*color:hsl(81, 100%, 67%);*/
}

#social-media i:hover {
    /*margin: 1%;*/
    /*padding: 5%;*/
    color:hsl(81, 100%, 67%);
}

.mark {
    background-color: #584c0b69;
}


/*Content containers*/


/* /* /* /* /* /* /* /* MEDIA QUERIES /* /* /* /* /* /* /* /* 

/* settings for mobile and tablet size*/

@media (min-width: 576px)
   .navbar-expand-sm {
      -ms-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -ms-flex-pack: start;
       justify-content: flex-start;
}

@media screen and (max-width: 768px) { 
  .navbar-menu,
  .navbar-dark,
  .navbar-nav,
  .nav-link {
    font-size: 80%;
    letter-spacing: 0px;
  }


  .btn-booking {
    font-size: 90%;
    width: 60px;
    padding: 5px;
    border: none;
    border-radius: 2.5px;
    }

  #navbarNav { 
    font-size: 30%;
  }

  .left-footer,
  .footerheader,
  .input-group {
    font-size: 95%;
  }

  /*.right-footer {
    width: 70%;
  }*/

  #social-media i {
    font-size: 1em;
  }

  .btn--footer {
    font-size: 14px;
    border-radius: 0px;
    padding: 2px;
  }

  .main-text {
    font-size: 2rem;
  }

  .jumbotron-background {
    margin-left: 8%;
  }

    *.btn--pnk {
    font-size: 24px;
    border-radius: 580px;
    padding: 2.5px;
  }

}



/* settings for tablet size and pc/laptops */

@media (min-width: 568px) {
    
}